$color-primary: #28B9B5;
$color_secondary: #FF5049;
$color-secondary-light: #FFDAD9;

$color-grey: #e7e7e7;
$color-grey-light: #f7f7f7;
$color-grey-dark: #555;
$color-grey-dark-er: #444;

$color-white: #fff;
$color-black: #000;