.top {
    height: 40vh;
    background-image: linear-gradient(rgba($color-black, 0.20), rgba($color-black, 0.20)), url(../back.png);
    background-size: cover;
    background-position: center;
    position: relative;
}



.budget {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    
    &__title {
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 350;
    }

    &__value {
        font-weight: 300;
        font-size: 46px;
        text-align: center;
        margin-bottom: 25px;
        letter-spacing: 2px;
    }

    &__income, &__expenses {
        padding: 12px;
        text-transform: uppercase;

        &--text {
            float: left;
            font-size: 13px;
            color: $color-grey-dark-er;
            margin-top: 2px;
        }

        &--value {
            letter-spacing: 1px;
            float: left;
        }

        &--percentage {
            float: left;
            width: 34px;
            font-size: 11px;
            padding: 3px 0;
            margin-left: 10px;
        }
    }

    &__income {
        margin-bottom: 10px;
        background-color: $color-primary;
    }

    &__expenses {
        background-color: $color_secondary;

        &--percentage {
            background-color: rgba($color-white, 0.2);
            text-align: center;
            border-radius: 3px;
        }
    }
}