
/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
    padding: 1.4rem;
    border-bottom: 1px solid $color-grey;
    background-color: $color-grey-light;
    margin-bottom: 2rem;

    &__container {
        margin: 0 auto;
        text-align: center;
    }

    &__type {
        width: 5.5rem;
        border: 1px solid $color-grey;
        height: 4.4rem;
        font-size: 1.8rem;
        color: inherit;
        background-color: $color-white;
        margin-right: 1rem;
        font-weight: 300;
        transition: border 0.3s;
    }

    &__description,
    &__value {
        border: 1px solid $color-grey;
        background-color: $color-white;
        color: inherit;
        font-family: inherit;
        font-size: 1.4rem;
        padding: 1.2rem 1.5rem;
        margin-right: 1rem;
        border-radius: 5px;
        transition: border 0.3s;
    }
    
    &__description { width: 400px;}
    &__value { width: 100px;}

    &__btn {
        font-size: 3.5rem;
        background: none;
        border: none;
        color: $color-primary;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        line-height: 1.1;
        margin-left: 1rem;

        &:active {
            transform: translateY(2px);
        }

        &:focus { outline: none; }
    }

    &__type:focus,
    &__description:focus,
    &__value:focus {
        outline: none;
        border: 1px solid $color-primary;
    }

}

/***** LISTS *****/

.income {

    &__title { color: $color-primary; }
}

.expenses {

    &__title { color: $color_secondary; }
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.item {
    padding: 13px;
    border-bottom: 1px solid $color-grey;

    &:first-child { border-top: 1px solid $color-grey; }
    &:nth-child(even) { background-color: $color-grey-light; }

    &__description {
        float: left;
    }

    &__value {
        float: left;
        transition: transform 0.3s;
    }

    &__percentage {
        float: left;
        margin-left: 20px;
        transition: transform 0.3s;
        font-size: 11px;
        background-color: $color-secondary-light;
        padding: 3px;
        border-radius: 3px;
        width: 32px;
        text-align: center;
    }
}

.income .item__value,
.income .item__delete--btn {
    color: $color-primary;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: $color_secondary;
}


.item__delete {
    float: left;

    &--btn {
        font-size: 22px;
        background: none;
        border: none;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        display: none;

        &:focus { outline: none; }
        &:active { transform: translateY(2px); }
    }

    
}

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }


.unpaid {
    background-color: $color-secondary-light !important;
    cursor: pointer;
    color: $color_secondary;

}

.unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba($color-black, 0.1); }
.unpaid:hover .item__description { font-weight: 900; }